.friendsList {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.friendContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 75px;
}