* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
}

ul, ol, p, img {
    margin: 0;
    padding: 0;
}

.cardContainer{
    width: 400px;
    border: 3px solid black;
    border-radius: 20px;
}

.cardMainInfoCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.cardImage {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    background-color: rgb(68, 68, 68);
    margin-top: 20px;
}

.cardUserName{
    font-weight: 700;
    font-size: 36px;
    color: black;
    margin-top: 10px;
}

.cardUserTag{
    font-size: 24px;
    color: gray;
    margin-top: 10px;
}

.cardUserLoc{
    font-size: 24px;
    color: grey;
    margin-top: 10px;
}

.cardListContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(176, 176, 176);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.cardListItem {
    width: calc(500px / 3);
    font-size: 24px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border: 1px solid rgb(74, 74, 74);
}

.cardStatsValues {
    font-weight: 700;
}