.transactionsTable {
    width: 400px;
    background-color: rgb(54, 54, 54);
    margin-top: 20px;
}

.transactionInfo{
    background-color: white;
}

.transactionTitle {
    color: white;
    border: 1px solid black;
}

.transactionDescription {
    color: black;   
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgb(177, 177, 177);
}